<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocina Segura</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>
    <div class="container">
        <h1>Bienvenido a Cocina Segura</h1>
        <h2>Recetas Populares</h2>
        <div class="banner">
            <!-- Contenido del banner de avisos comerciales -->
            <p>Anuncio de empresa interesada</p>
        </div>
        <ul>
            <!-- Arreglo de lista de recetas -->
            <li th:each="receta : ${recetas}">
                <!-- título de la receta -->
                <h3 th:text="${receta.titulo}">Título de la receta</h3>
                <!-- descripción de la receta -->
                <p th:text="${receta.descripcion}">Descripción de la receta</p>
                <!-- imagen de la receta -->
                <img th:src="@{${receta.imagenURL}}" alt="Imagen de la receta" width="200" />
            </li>
        </ul>
        <!-- Enlace al login -->
        <div class="login-link">
            <a th:href="@{/login}">Iniciar Sesión</a>
        </div>
    </div>
    <footer class="text-center">
        2024 Cocina Segura
        Byron Jaramillo - Pablo Pérez
    </footer>
</body>
